body {
    background-color: #eeeeee;
 }

 /* ------------------------------NAVBAR--------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px;
}

.logo img{
    width: 100px;
}

.logo {
    display: flex;
    margin-left: 20px; 
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 20px; 
    font-size: large;
}

nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 50px; 
}


nav ul li a {    
    font-family: 'Work Sans', sans-serif;
    color: rgb(36, 36, 36);
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


nav ul li a:hover {
    text-decoration: underline;
}

.logo p{
    display: flex;
    text-align: left center;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vh;

}


/* ------------------------------HERO------------------------------ */
.download-button {
    position: relative;
    padding: 10px 20px;
    color: #000000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden; 
}

.download-button .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff; 
    z-index: -1; 
    border-radius: 5px; 
}

.download-button:hover .loading-bar {
    width: 100%; 
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0; 
    background-color: rgb(96, 236, 96); 
    z-index: 0; 
    border-radius: 5px;
    transition: width 0.3s ease; 
}

.download-button span {
    position: relative;
    z-index: 1; 
}

#hero {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 40vh; 
    background-image: url(../images/abstract\ shapes\ multi\ color\ gradient-Recovered.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.hero-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 90%; 
    padding: 20px;
}

.heroImg {
    flex: 1; 
    text-align: right; 
}

.heroImg img {
    margin-right: 40px;
    max-width: 100%; 
}

.heroText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    flex: 1; 
    padding: 20px; 
    text-align: center; 
}

/* -----------------------------MYWORK-------------------------------- */
#content {
    display: grid;
    grid-template-rows: 50px 300px 300px;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "myWork myWork"
    "mockUp readMore1"
    "mockUp2 readMore2";
    margin: 50px;
    gap: 50px;
}

.myWork {
    grid-area: myWork;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.mockUp {
    grid-area: mockUp;
    background-image: url(../images/mockup.png);
    background-size: cover;
}

.readMore1 {
    grid-area: readMore1;
    font-family: 'Montserrat', sans-serif;
}

.case-button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .case-button:hover,
  .case-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .case-button:hover {
    transform: translateY(-1px);
  }
  
  .case-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }


.readMore1 h2 {
    font-size: 2vh;
}

.mockUp2 {
    grid-area: mockUp2;
    background-image: url(../images/mockup2.png);
    background-size: cover;
}

.readMore2 {
    grid-area: readMore2;
    font-family: 'Montserrat', sans-serif;
}

.readMore2 h4 {
    font-size: 2vh;
}

/* ------------------------------FOOTER---------------------------------- */
 footer img {
    width: 100px;
    margin-left: 10%;
 }

footer {
    display: flex;
    margin-top: 100px;
    background-color: #ffffff;
    justify-content: space-between;
 }

footer .social-media {
    display: flex;
    align-items: center;
    margin-right: 10%;
}